* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 150;
}

body {
	background: rgb(110, 163, 224);
	background: radial-gradient(circle, rgba(110, 163, 224, 1) 0%,
		rgba(90, 90, 218, 1) 47%, rgba(122, 48, 87, 1) 100%);
	height: 100%;
	width: 100%;
}

td {
	width: 15%;
	height: 30px;
	text-align: center;
}

.user-table {
	margin: 100px auto;
	margin-left:5%;
	margin-right: 5%;
	width: 90%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

.user-table tr:nth-child(odd) {
	background-color: rgba(22, 43, 68, 0.2);
}

.user-table tr:nth-child(even) {
	background-color: rgba(222, 208, 237, 0.02);
}

.user-table th {
	padding: 15px 30px;
}

.edit-button {
	background-color: blue;
	width: 80px;
	height: 25px;
}

.delete-button {
	background-color: red;
	width: 80px;
	height: 25px;
}

.user-table th button {
	border: none;
	background-color: transparent !important;
	font-size: 1.5em;
}

#user-table-top {
	background-color: rgba(22, 43, 68, 0.4);
}

#current-user {
	float: right;
	margin-top: 30px;
	margin-right: 5%;
}

#hello-message {
	float: left;
	margin-left: 5%;
	margin-top: 20px;
	color: black;
	font-size: 14;
	font-weight: bold;
}

#add-user-button {
	background-color: rgb(110, 255, 18);
	text-align: center;
	width: 120px;
	float: right;
	height: 25px;
	color: black;
	font-weight: bold;
	margin-top: 70px;
	margin-right: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	display: inline;
	padding-right: 10px;
}

a {
	color: cyan;
}
